body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.total-price {
    text-align: right;
    font-size: 18px;
    color: #333;
}

.Show_Rental_Id {
    text-align: left;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.addSkade {
    text-align: center;
    margin-top: 20px;
}

.addSkade button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.addSkade button:hover {
    background-color: #333;
}


/* ----------------DASHBOARD CSS----------------------*/
.Dashboard_DamageReport .container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.Dashboard_DamageReport .button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.Dashboard_DamageReport .button:hover {
    background-color: #555;
}

/* ----------------INDTAST LEJEAFTALE ID FORM CSS----------------------*/
.Input_Rental_Id {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.Input_Rental_Id form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Input_Rental_Id label {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.Input_Rental_Id input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

.Input_Rental_Id button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.Input_Rental_Id button:hover {
    background-color: #555;
}