<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Tilføj Skade</title>

  <link rel="stylesheet" th:href="@{/CSS/DamageReport.css}" href="../static/CSS/DamageReport.css">

</head>

<body>

<div th:replace="~{Header :: Header}"></div>
<div class="AddDamageToReport">

  <div class="container">

    <div th:if="${error}" class="fejl-besked">
      <p th:text="${error}"></p>
    </div>

    <form action="/skadesrapporter/tilfojskader" method="post">
      <input type="hidden" name="lejeaftale_id" th:value="${lejeaftale_id}">

      <h1>Tilføj Skade</h1>

      <div class="form-group">
      <label for="damage-description">Beskrivelse af skade:</label>
      <input type="text" id="damage-description" name="damageDescription" required>
      </div>

      <div class="form-group">
        <label for="damage-price">Pris:</label>
        <input type="text" id="damage-price" name="price" required>
      </div>

      <button type="submit" class="button">Gem skade</button>

      <a th:href="@{'/skadesrapporter/opret/' + ${lejeaftale_id}}">
        <button type="button" class="cancel-button">Annuller</button>
      </a>
      
    </form>
  </div>
</div>
</body>
</html>

