<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tilføj Skade</title>
  <link rel="stylesheet" th:href="@{/CSS/DamageReport.css}" href="../static/CSS/DamageReport.css">
</head>
<body>
<div class="AddDamageToReport">
  <div class="container">
    <form action="/skadesrapporter/adddamage" method="post">
      <input type="hidden" name="lejeaftale_id" th:value="${lejeaftale_id}">
      <h1>Tilføj Skade</h1>
      <label for="damage-description">Beskrivelse af skade:</label>
      <textarea id="damage-description" name="damageDescription" rows="4" required></textarea>
      <label for="damage-price">Pris:</label>
      <input type="text" id="damage-price" name="price" required>
      <button type="submit" class="button">Gem skade</button>
    </form>
  </div>
</div>
</body>
</html>

