<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/CreateCustomer.css}" href="../static/CSS/CreateCustomer.css">
    <title>Opret kunde</title>
</head>
<body>
<div th:replace="~{Header :: Header}"></div>
<div class="container">
<header>Opret ny kunde</header>
<form id="CreateCustomer" action="/addCustomer" method="post">
    <input type="text" name="first_name" placeholder="Fornavn">
    <input type="text" name="last_name" placeholder="Efternavn">
    <input type="text" name="driverslicense_number" placeholder="Kørekorts nummer">
    <button type="submit">Opret</button>
</form>
</div>
</body>
</html>