<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<header>Create a new customer</header>
<form id="CreateCustomer" action="/addCustomer" method="post">
    <input type="text" name="first_name" placeholder="First name">
    <input type="text" name="last_name" placeholder="Last name">
    <input type="text" name="driverslicense_number" placeholder="Drivers license nr">
    <button type="submit">Submit</button>
</form>
</body>
</html>