<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/CreateCustomer.css}" href="../static/CSS/CreateCustomer.css">
    <title>Opret kunde</title>
</head>
<body>
<div th:replace="~{Header :: Header}"></div>
<div class="container">
    <div class="head">
        <header>Opret ny kunde</header>
    </div>
    <div th:if="${fejlbesked}" class="fejl-besked">
        <p th:text="${fejlbesked}"></p>
    </div>

    <div th:if="${validationError}" class="error-message">
        <p th:text="${validationError}"></p>
    </div>

<form id="CreateCustomer" action="/addCustomer" method="post">
    <input type="text" name="first_name" placeholder="Fornavn" required>
    <input type="text" name="last_name" placeholder="Efternavn" required>
    <input type="text" name="driverslicense_number" placeholder="Kørekorts nummer" required>
    <button type="submit">Opret</button>
</form>
</div>
</body>
</html>