<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/CSS/Footer.css}" href="../static/CSS/Footer.css">
</head>
<body>
<footer class="footer">
    <div class="footer-logo">
        <a th:href="@{#}">
            <img th:src="@{/Images/LogoBilabonnement.png}" src="../static/Images/LogoBilabonnement.png" alt="Website logo">
        </a>
    </div>
    <div class="footer-contact">
        <h4>Kontakt HelpDesk</h4>
        <p>Email: <span>helpdesk@bilabonnement.dk</span></p>
        <p>Telefon: <span>+45 89 88 50 80</span></p>
    </div>
</footer>
</body>
</html>
