<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skadesrapport</title>
    <link rel="stylesheet" href="/static/CSS/DamageReport.css">
</head>
<body>
<div class="List_DamageReport">
<div class="container">
    <h1>Skadesrapport for Lejeaftale ID:</h1>

    <div class="Damage-List">
        <h2>Skade Liste</h2>
        <ul>
            <li th:each="damageReport : ${damageReports}">
                <p>Skadebeskrivelse: <span th:text="${damageReport.damageDescription}"></span></p>
                <p>Pris: <span th:text="${damageReport.price}"></span></p>
            </li>
        </ul>
    </div>

    <form action="/skadesrapporter/adddamage" method="get">

        <button type="submit" class="button">Tilføj skade</button>
    </form>

    <form action="/skadesrapporter/dashboard" method="get">
        <button type="submit" class="button">Afslut skadesrapport</button>
    </form>
</div>
</div>
</body>
</html>
