<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skadesrapport</title>
    <link rel="stylesheet" th:href="@{/CSS/DamageReport.css}" href="../static/CSS/DamageReport.css">
</head>
<body>
<header class="headerSkadesrapport">
    Skadesrapport
</header>
<div class="List_DamageReport">
    <table>
        <thead>
        <tr>
            <th>Skadebeskrivelse</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="damageReport: ${damageReport}">
            <td th:text="${damageReport.getDamageDescription()}"></td>
            <td th:text="${damageReport.getPrice()}+' DKK'"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="addSkade">
    <nav>
        <div>
            <a th:href="@{'/skadesrapporter/adddamage/'+ ${lejeaftale_id}}">
                <button>Tilføj skade</button>
            </a>
        </div>
    </nav>
</div>
</body>
</html>
