<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/CSS/Header}" href="../static/CSS/Header.css">
    <meta charset="UTF-8">
    <title>Header Wish List</title>
</head>
<body>
<header class="header">
    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/Images/LogoBilabonnement.png}" src="../static/Images/LogoBilabonnement.png" alt="Website logo">
        </a>
    </div>
    <div class="nav-login">
        <a class="nav-button" th:href="@{/loginside}">Log ind</a>
    </div>
</header>
</body>
</html>
