<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/CSS/Home.css}" href="../static/CSS/Home.css">
</head>

<body>
<div class="container">
<header>
    <h1>Please type your login information</h1>
</header>
<main>
    <form action="/SelectProfile" method="GET">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <button type="submit">Login</button>
    </form>
</main>
</div>
</body>

</html>