<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Indtast Lejeaftale ID - Skadesrapport</title>
  <link rel="stylesheet" th:href="@{/CSS/DamageReport.css}" href="../static/CSS/DamageReport.css">
</head>
<body>
<div class="Input_Rental_Id">
  <h1>Indtast Lejeaftale ID</h1>

  <div th:if="${fejlbesked}" class="fejl-besked">
    <p th:text="${fejlbesked}"></p>
  </div>

  <form action="/skadesrapporter/indtastid" method="post">
  <div>
    <label for="lejeaftale_id">Lejeaftale ID:</label>
    <input type="number" id="lejeaftale_id" name="lejeaftale_id" required>
  </div>
  <button type="submit">Næste</button>
  </form>
</div>
</body>
</html>
