<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/RentalAgreement.css}" href="../static/CSS/RentalAgreement.css">
    <title>Rental Agreement</title>
</head>
<body>
<div th:replace="~{Header :: Header}"></div>
<div class="container">
    <div class="head">
        <header>Opret en ny lejeaftale</header>
    </div>
    <div th:if="${fejlbesked}" class="fejl-besked">
        <p th:text="${fejlbesked}"></p>
    </div>

<form id="rentalAgreementForm" action="/addRentalAgreement" method="post">
    <input type="text" name="rental_type" placeholder="Type" required>
    <input type="text" name="duration" placeholder="Længde" required>
    <input type="text" name="price" placeholder="Pris pr måned" required>
    <input type="text" name="car_id" placeholder="Bil ID" required>
    <input type="text" name="customer_id" placeholder="Kunde nr" required>
    <button type="submit">Opret</button>
</form>
</div>
</body>
</html>