<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" th:href="@{/CSS/RentedCars.css}" href="../static/CSS/RentedCars.css">
    <title>Rented cars</title>
</head>
<body>
<div class="container">
    <h1>Rented Cars</h1>
    <div class="total-rented-cars">
    <Strong>Total Rented Cars: </Strong><span th:text="${rentedcarsCount}"></span>
    </div>
    <table>
        <thead>
        <tr>
            <th>Car id</th>
            <th>Model</th>
            <th>License Plate</th>
            <th>Brand</th>
            <th>Rental Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.vehicleNumber}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.licensePlate}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${rentalMap[car.vehicleNumber]?.price}"></td>
        </tr>
        </tbody>
    </table>
    <div class="total-price">

        <strong>Total Rental Price: </strong><span th:text="${totalRentalPrice}"></span>
    </div>
</div>

</body>
</html>