<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/CSS/RentalAgreementDashboardStyle.css}" href="../static/CSS/RentalAgreementDashboardStyle.css">
    <meta charset="UTF-8">
    <title>Rental agreement dashboard</title>
</head>
<body>
<div th:replace="~{Header :: Header}"></div>
<div class="container">
    <h1>Lejeaftaler</h1>
    <div class="show-customers">
        <a th:href="@{/kunder}"><button>Vis kunder</button> </a>
    </div>
    <p></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Længde</th>
        <th>Pris per måned</th>
        <th>Kunde nr</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rentalAgreement: ${rentalAgreements}">
        <td th:text="${rentalAgreement.RentalAgreement_id}"></td>
        <td th:text="${rentalAgreement.getRental_type()}"></td>
        <td th:text="${rentalAgreement.duration} + ' Måneder'"></td>
        <td th:text="${rentalAgreement.price} + ' Kr per måned'"></td>
        <td th:text="${rentalAgreement.customer_id}"></td>

    </tr>
    </tbody>
</table>
    <div class="Create-agreement">
        <p>Klik på knappen herunder for at oprette en ny lejeaftale:</p>
        <a th:href="@{/Opretnylejeaftale}"><button>Opret ny lejeaftale</button></a>
    </div>
</div>
</body>
</html>