<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" th:href="@{/CSS/RentedCars.css}" href="../static/CSS/RentedCars.css">
    <title>Rented cars</title>
</head>
<body>
<div class="container">
    <h1>Udlejede biler</h1>
    <div class="total-rented-cars">
    <Strong>Samlede mængde udlejede biler: </Strong><span th:text="${rentedcarsCount}"></span>
    </div>
    <table>
        <thead>
        <tr>
            <th>Bil id</th>
            <th>Model</th>
            <th>Nummerplade</th>
            <th>Bilmærke</th>
            <th>Leje aftale pris</th>
            <th>Aflever bil</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.vehicleNumber}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.licensePlate}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${rentalMap[car.vehicleNumber]?.price}"></td>
            <td>
                <form action="/returnCar" method="post">
                    <input type="hidden" name="carId" th:value="${car.vehicleNumber}">
                    <button type="submit">Aflever</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="total-price">

        <strong>Samlede pris for lejeaftaler: </strong><span th:text="${totalRentalPrice}"></span>
    </div>
</div>

</body>
</html>