<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental Agreement</title>
</head>
<body>
<header>Opret ny Leasing aftale</header>
<form id="rentalAgreementForm" action="/addRentalAgreement" method="post">
    <input type="text" name="rental_type" placeholder="Type">
    <input type="number" name="duration" placeholder="Duration">
    <input type="number" name="price" placeholder="Price">
    <input type="number" name="car_id" placeholder="Car ID">
    <button type="submit">Submit</button>
</form>
</body>
</html>