<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" th:href="@{/CSS/RentedCars.css}" href="../static/CSS/RentedCars.css">
    <title>Returned cars</title>
</head>
<body>
<div class="container">
    <h1>Returned Cars</h1>
    <div class="total-rented-cars">
        <Strong>Total Returned Cars: </Strong><span th:text="${returnedCarsCount}"></span>
    </div>
    <table>
        <thead>
        <tr>
            <th>Car id</th>
            <th>Model</th>
            <th>License Plate</th>
            <th>Brand</th>
            <th>Show Damage report</th>
            <th>Make Available</th>
            <th>Make ready for sale</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.vehicleNumber}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.licensePlate}"></td>
            <td th:text="${car.brand}"></td>
            <td>

                <a href="/skadesrapporter/indtastid" class="button">View Damage Report</a>
            </td>
            <td>
                <form action="/makeCarAvailable" method="post">
                    <input type="hidden" name="carId" th:value="${car.vehicleNumber}">
                    <button type="submit">Return</button>
                </form>
            </td>
            <td>
                <form action ="/MakeCarReadyForSale" method="post">
                    <input type="hidden" name="carId" th:value="${car.vehicleNumber}">
                    <button type="submit">Sell</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>