<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" th:href="@{/CSS/RentedCars.css}" href="../static/CSS/RentedCars.css">
    <title>Returned cars</title>
</head>
<body>
<div class="container">
    <h1>Returnerede biler</h1>
    <div class="total-rented-cars">
        <Strong>Antal returnerede biler: </Strong><span th:text="${returnedCarsCount}"></span>
    </div>
    <table>
        <thead>
        <tr>
            <th>Bil id</th>
            <th>Model</th>
            <th>Nummerplade</th>
            <th>Brand</th>
            <th>Vis skadesrapport</th>
            <th>Gør ledig</th>
            <th>Gør klar til salg</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.vehicleNumber}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.licensePlate}"></td>
            <td th:text="${car.brand}"></td>
            <td>

                <a href="/skadesrapporter/indtastid" class="button">Vis Skadesrapport</a>
            </td>
            <td>
                <form action="/makeCarAvailable" method="post">
                    <input type="hidden" name="carId" th:value="${car.vehicleNumber}">
                    <button type="submit">Ledig</button>
                </form>
            </td>
            <td>
                <form action ="/makeCarReadyForSale" method="post">
                    <input type="hidden" name="carId" th:value="${car.vehicleNumber}">
                    <button type="submit">Sælg</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>