<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vælg profil</title>
    <link rel="stylesheet" th:href="@{/CSS/SelectProfile.css}" href="../static/CSS/SelectProfile.css">
</head>
<body>
    <div class="container">
        <h1>Vælg din profil</h1>
        <div class ="boxcontainer">
            <div class="flex-box"><a href="/vislejeaftaler">Lejeaftale registrering</a></div>
            <div class="flex-box"><a href="/skadesrapporter/dashboard">Skadesudbredring</a></div>
            <div class="flex-box"><a href="/Udlejedebiler">Forretnings udvikling</a></div>
        </div>
        </div>
    </div>
</div>

</body>
</html> 